*{

  margin-left : 2.5px;
  margin-top: 20px;
  margin-right : 2.5px;


}
img{

  margin-right: 22.5px;
}
.head{

  display: flex; 
  justify-content: space-between;
}

.center{

  margin-left: 22.5px;
}

.head2{
  display: block
}
h2{

  display: flex;
  justify-content: center;
  border-bottom: solid;
}

.header{

  display : none
}

.edit{
  display: none
}

.edit2{
  display: none
}
.edit3{
  display: none
}
.editheader{

  display : none
}

.education{

  display: none
}

.experience{

  display: none
}


.hide{
  display:none
}

.hide2{
  display:none
}
.editeducation
{

  display : none;


}
.editexperience
{

  display : none;


}

.ededucation
{

  display : none;


}

.edexperience
{

  display : none;


}

#name2{
width: 300px;
}
#name3{
  width: 300px;

}

#year{
  width: 100px;

}

#year2{

  width: 100px;

}

#place{
  width: 300px;


}

#place2{

  width: 300px;

}

